name: Setup and Test

on: [push, pull_request]

permissions:
    contents: read
    pull-requests: write

jobs:
    build-and-test:
        name: Build & Test Extension

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1
              with:
                  fetch-depth: 0

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2.1.2
              with:
                  bun-version-file: ".bun-version"

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Validate current commit (last commit) with commitlint
              if: github.event_name == 'push'
              run: bunx commitlint --last --verbose

            - name: Validate PR commits with commitlint
              if: github.event_name == 'pull_request'
              run: bunx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

            - name: Test
              run: |
                  bun test
                  bun run lint
